:root {
	--green: #00FF00;
	--white: #FFFFFF;
	--black: #000000;
	--bggreen: #336633;
	--border_color: #ffcc33;
	--red: #FF0000;
	--off_brown: #E9DFA8;
	--dark_grey: #A9A9A9;
	--side_green: #7A9900;
}
* {
	box-sizing: border-box;
}
.back {
	background: var(--white);
	max-width: 1280px;
	min-width: 540px;
	margin: 0 auto;
	float: none;
}
.header {
	background: var(--white);
	width: max-width;
	text-align: center;
	color: var(--black);
	display: block;
	height: 162px;
	padding: 5px;
}
.left_logo {
	background: var(--white);
	display: inline-block;
	float: left;
	padding: 7px 0px;
	width: 229px;
}
.header h1 {
	text-align: center;
	display: inline-block;
	padding: 40px 0px;
	font-size: 25px;
}
.right_logo {
	display: inline-block;
	float: right;
	height: 157px;
	background: var(--white);
}

.navbar {
	overflow: hidden;
	background-color: var(--dark_grey);	
	margin: 0 0 30px;
}
#bar {
	height: 3.2em;
	width: 530px;
	margin: 0 auto;
	list-style: none;
}
#bar li{
	float: left;	
}
#bar a {
	display: inline-block;
	text-align: center;
	color: var(--black);
	height: 3.2em;
	width: 100px;
	line-height: 3.2em;
	text-decoration: none;
	margin-left: -2px;
	font-weight: bold;
}
#bar a:hover {
	background-color: var(--white);
	color: var(--black);
}
#bar a.active{
	background-color: var(--white);
	color: var(--black);
}

.main {
	background: var(--white);
}
.slider {
	width: max-width;
	margin: 0 auto 20px;
	text-align: center;
}
.slider .contents {
	position: relative;
	height: calc(100vw * .363);
}
@media (min-width: 1280px) {
	.slider .contents {
		height: 465px;	
	}
}
.slider .contents img {
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity ls;
}
.slider .contents img.shown {
	opacity: 1;	
}
.opening_gif {
	float: left;
	padding: 5px;
}
.opening_greeting {
	
}
.opening_greeting p {
	padding: 10px;	
}
.important {
	display: block;
	text-align: center;	
	background: var(--red);
	padding: 10px;
}
.important h1 {
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.important_text {
	background: var(--off_brown);
	text-align: center;
	padding: 10px;
}
.important_text h2 {
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.hours {
	text-align: center;
	padding: 10px;
}
.hours h {
	font-size: 20px;
}
.about_us {
	text-align: center;
	padding: 10px;
}
.about_us h {
	font-size: 20px;
	text-decoration: underline;
}
.contact_us {
	padding: 10px;
	text-align: center;
}
.contact_us h {
	font-size: 20px;
	text-decoration: underline;
}
.map {
	height: 550px;
	width: 700px;
	border: 0;
}
.general_links {
	text-align: center;
}
.general_links h {
	font-weight: bold;
	font-size: 20px;	
}
#poi a {
	color: var(--black);	
}
#poi ul {
	list-style: none;

}
#poi li {
	width: 240px;
	margin-top: 10px;
	margin-right: 30px;
	display: inline-block;
}
.additional_links {
	text-align: center;
}
.additional_links h{
	font-weight: bold;
	font-size: 20px;	
}
#addition a {
	color: var(--black);
}
#addition li {
	text-align: left;
	list-style: none;
}
#acc a {
	color: var(--black);	
}
#acc li { 
	text-align: left;
	list-style: none;
}
.footer {
	overflow: hidden;
	padding: 5px;
	text-align: center;
	display: block;
	background: var(--dark_grey);
	width: max-width;
}
.footer h2 {
	font-size: 12px;
}